dist
dist-*
cabal-dev
*.o
*.hi
*.hie
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
.HTF/
.ghc.environment.*
input.txt
/.data/out.txt
out.txt
/purescriptGeneratorTesting/
.psc-ide-port

/client/.spago
/client/node_modules
/client/output
/client/src/generated
/client/.purs-repl
Rosalind.cabal
test1/
.idea/
.DS_Store
