name: build
on:
  push:
    branches:
      - master
      - 'feature/**'
      - 'dev/**'
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ghc: ['9.4.7']
    name: Build with GHC ${{ matrix.ghc }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup Haskell
      uses: haskell/actions/setup@v1
      with:
        ghc-version: ${{ matrix.ghc }}
    - run: cabal update
    - run: cabal freeze
    - uses: actions/cache@v2
      with:
        path: ~/.cabal/store
        key: ${{ runner.os }}-${{ matrix.ghc }}-${{ hashFiles('cabal.project.freeze') }}
        restore-keys: |
          ${{ runner.os }}-${{ matrix.ghc }}-
    - name: Build
      run: cabal build --enable-tests --enable-benchmarks all 
    - name: Run tests
      run: cabal test all --test-show-details=direct --enable-benchmarks all
